@use 'core' as c;
@use 'generated/svg-icons' as s;

// ─── header ───────────────────────────────────
.gnb {
    @include c.fl;
    position:absolute;
    width:100%;
    height:60px;
    padding-left:20px;
    padding-right:20px;
    background-color:transparent;
    justify-content:space-between;
    align-items:center;
    border-bottom:1px solid rgba(228, 234, 239, 0.2);
    color:#fff;
    backdrop-filter: blur(5px);
    transition-property: background-color, border-color, color;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    z-index:10;

    @at-root {
        :root.up {
            .gnb {
                position:fixed;
                z-index:999;
            }
        }
    }

    .h-logo {
        @include c.icon-svg(s.$icon-logo);
    }

    .menu {
        @include c.fl(80px);
        position:absolute;
        top:0;
        left:50%;
        transform:translateX(-50%);
        align-items:center;
        color:currentColor;
        font-weight:600;

        > li {
            @include c.fl;
            align-items:center;
            height:60px;
            position:relative;
            
            

            &.on,
            &:hover {
                > a {
                    color:#01489D;
                }
                &::before {
                    width:100%;
                    height:4px;
                    background-color:#01489D;
                    position:absolute;
                    left:0;
                    bottom:1px;
                    content:'';
                }
            }

            > a:focus {
                color:#01489D;
            }

            &:has(a:focus) {
                &::before {
                    width:100%;
                    height:4px;
                    background-color:#01489D;
                    position:absolute;
                    left:0;
                    bottom:1px;
                    content:'';
                }
            }
        }

        .depth2 {
            @include c.fl-col(15px);
            padding:24px 10px;
            width:200px;
            position:absolute;
            top:58px;
            left:50%;
            transform:translateX(-50%);
            font-size:16px;
            font-weight:600;
            background-color:#fff;
            color:#3B3B3B;
            border:1px solid #0088FF;
            border-radius:10px;
            opacity:0;
            visibility:hidden;
            pointer-events: none;

            li {
                @include c.fl;
                justify-content: center;

                a {
                    &.on,
                    &:hover {
                        color:#01489D;
                    }
                }
            }
        }
    }

    .util-menu {
        @include c.fl(25px);
        align-items:center;
        
        li {
            @include c.fl(7px);
            align-items:center;

            .u-sign-in {
                @include c.icon-svg(s.$icon-u-sign-in,  $variant: 'white');
            }
            .u-sign-out {
                @include c.icon-svg(s.$icon-u-sign-out,  $variant: 'white');
            }
            .u-mypage {
                @include c.icon-svg(s.$icon-u-mypage,  $variant: 'white');
            }
            .u-language {
                @include c.icon-svg(s.$icon-u-language,  $variant: 'white');
            }
            .u-search {
                @include c.icon-svg(s.$icon-u-search,  $variant: 'white');
            }
        }
    }

    &.white {
        background-color:#fff;
        border-color:#B1BCC4;
        color:#3B3B3B;

        .h-logo {
            @include c.icon-svg(s.$icon-logo, $variant: 'blue');
        }

        .util-menu {
            li {
                .u-sign-in {
                    @include c.icon-svg(s.$icon-u-sign-in, $variant: 'primary');
                }
                .u-sign-out {
                    @include c.icon-svg(s.$icon-u-sign-out, $variant: 'primary');
                }
                .u-mypage {
                    @include c.icon-svg(s.$icon-u-mypage, $variant: 'primary');
                }
                .u-language {
                    @include c.icon-svg(s.$icon-u-language, $variant: 'primary');
                }
                .u-search {
                    @include c.icon-svg(s.$icon-u-search, $variant: 'primary');
                }
            }
        }
    }
}
