// ─── Font ───────────────────────────────────────────
$font-base:   'Pretendard', 'Noto Sans KR', sans-serif;
$font-size:   16px;

// ─── Breakpoint ─────────────────────────────────────
$bp-mobile:  821px;
$bp-tablet:  1350px;
